* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  /* border: 1px black solid; */
}
.card1 {
  width: 1500px;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.map {
  width: 900px;
  height: 100%;
  left: 0px;
}
.form {
  width: 600px;
  height: 700px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}
label {
  padding-top: 10px;
  padding-bottom: 10px;
}
input {
  height: 50px;
  border-radius: 5px;
}
button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.fBack {
  font-size: 15px;
  font-weight: bold;
}
